@font-face {
    font-family: "Sriracha";
    src: url('../fonts/Sriracha-Regular.ttf');
}

.background {
    -fx-background-color: white;
    -fx-background-image: url("../bg.jpg");
    -fx-background-size: cover;
}

.back-button {
    -fx-font-family: "Sriracha";
    -fx-background-color: darkorange;
    -fx-text-fill: white;
    -fx-background-radius: 100 0 0 100;
    -fx-font-size: 22;
    -fx-min-width: 200px;
}

.back-button:hover {
    -fx-background-color: rgba(255, 140, 0, 0.65);
}

.back-button:pressed {
    -fx-background-color: rgb(255, 160, 0);
}

.logout-button {
    -fx-font-family: "Sriracha";
    -fx-background-color: #c80000;
    -fx-text-fill: white;
    -fx-background-radius: 100 0 0 100;
    -fx-font-size: 22;
    -fx-min-width: 200px;
}

.logout-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.65);
}

.logout-button:pressed {
    -fx-background-color: rgb(255, 0, 0);
}

.normal-button {
    -fx-font-family: "Sriracha";
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-background-radius: 100 100 100 100;
    -fx-font-size: 22;
}

.normal-button:hover {
    -fx-background-color: rgba(100, 149, 237, 0.65);
}

.normal-button:pressed {
    -fx-background-color: rgb(89, 142, 236);
}

.small-button {
    -fx-font-family: "Sriracha";
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-background-radius: 100 100 100 100;
}

.small-button:hover {
    -fx-background-color: rgba(100, 149, 237, 0.65);
}

.small-button:pressed {
    -fx-background-color: rgb(89, 142, 236);
}

.forward-button {
    -fx-font-family: "Sriracha";
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-background-radius: 0 100 100 0;
    -fx-font-size: 22;
    -fx-min-width: 200px;
}

.forward-button:hover {
    -fx-background-color: rgba(0, 128, 0, 0.65);
}

.forward-button:pressed {
    -fx-background-color: rgb(0, 150, 0);
}

.scene-title {
    -fx-font-family: "Sriracha";
    -fx-font-size: 32px;
    -fx-text-fill: cornflowerblue;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.error-message-label {
    -fx-font-family: "Sriracha";
    -fx-text-fill: red;
    -fx-font-size: 18px;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.text-field {
    -fx-font-family: "Sriracha";
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: cornflowerblue;
}

.text-area {
    -fx-font-family: "Sriracha";
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: cornflowerblue;
}

.hint-label {
    -fx-font-family: "Sriracha";
    -fx-font-size: 16;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.changeable-label {
    -fx-font-family: "Sriracha";
    -fx-font-size: 16;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.changeable-label:hover {
    -fx-font-family: "Sriracha";
    -fx-font-size: 16;
    -fx-text-fill: cornflowerblue;
    -fx-background-color: white;
    -fx-background-radius: 15;
}

.full-tab {
    -fx-font-family: "Sriracha";
    -fx-font-size: 16;
}

.popup-pane {
    -fx-background-color: white;
    -fx-border-color: black;
}

.close-button {
    -fx-font-family: "Sriracha";
    -fx-font-size: 22;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-max-height: 5px;
    -fx-min-width: 200px;
}

.close-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.65);
}

.add-button {
    -fx-font-family: "Sriracha";
    -fx-font-size: 22;
    -fx-background-color: lightgreen;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-max-height: 5px;
    -fx-min-width: 200px;
}

.add-button:hover {
    -fx-background-color: rgba(144, 238, 144, 0.65);
}

.delete-button {
    -fx-font-family: "Sriracha";
    -fx-font-size: 22;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.normal-button-Green {
    -fx-font-family: "Sriracha";
    -fx-background-color: limegreen;
    -fx-text-fill: white;
    -fx-background-radius: 100 100 100 100;
    -fx-font-size: 22;
}

.delete-button:hover {
    -fx-background-color: rgba(255, 0, 0, 0.65);
}

.delete-button:pressed {
    -fx-background-color: rgb(255, 0, 0);
}

.normal-button-Green:hover {
    -fx-background-color: greenyellow;
}

.normal-button-Green:pressed {
    -fx-background-color: limegreen;
}

.star-button {
    -fx-background-image: url('../stars/emptyStar.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.star-button:hover {
    -fx-background-image: url('../stars/fullStar.png');
}

.star-button:pressed {
    -fx-background-image: url('../stars/fullStar.png');
}

.plus-button {
    -fx-background-image: url('../icons/plus.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.minus-button {
    -fx-background-image: url('../icons/minus.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
