.back-button {
    -fx-background-color: darkorange;
    -fx-text-fill: white;
    -fx-background-radius: 100 0 0 100;
    -fx-font-size: 22;
    -fx-min-width: 200px;
}

.logout-button {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-background-radius: 100 0 0 100;
    -fx-font-size: 22;
    -fx-min-width: 200px;
}

.normal-button {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
    -fx-background-radius: 100 100 100 100;
    -fx-font-size: 22;
}

.forward-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-background-radius: 0 100 100 0;
    -fx-font-size: 22;
    -fx-min-width: 200px;
}

.scene-title {
    -fx-font-size: 32px;
    -fx-text-fill: cornflowerblue;
}

.error-message-label {
    -fx-text-fill: red;
    -fx-font-size: 18px;
}

.text-field {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: cornflowerblue;
}

.hint-label {
    -fx-font-size: 16;
}

.full-tab {
    -fx-font-size: 16;
}

.popup-pane {
    -fx-background-color: white;
    -fx-border-color: black;
}

.close-button {
    -fx-font-size: 22;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-max-height:  5px;
    -fx-min-width: 200px;
}